.fa-book, .fa-trash{
    margin-right: 10px;
}

.fa-times{
    margin-left: 10px;
}

#course-manager{
    margin-bottom : 10px;
}

#topic-pills{
    margin-top : 10px;
    margin-bottom : 13px;
}
#lesson-tabs{
    margin-top : 10px;
}